body {
    background-color: #f8c291;
}


#bt-color{

    background-color: #e76d47 !important;
}

#bg-color {

    background-color: #eeba7a;
    font-family: monospace;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#b-bg {
    background-image: url();
    min-height: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%, 27%, 23%;
    background-color: #eeba7a;
    border-radius: 2%;

}

.fonte {

    font-family: monospace;
}

.textarea{

    width: 5px;
    right: 5px;
}