<div class="img-bg">
  <h1 class="text-center">EQUIPE</h1>
  <br>
  <div class="equipe">

    <div class="container ">

      <div class="row">

        <div class="col-lx-12 d-flex justify-content-center">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner center-block">
              <div class="carousel-item active">
                <div class="row mr-auto text-center">

                  <div class="col-lg-3 ">


                    <h4 class="nome">Allan Baad</h4>
                    <p>Este é o Allan, 24 anos, mora em São Paulo Capital, atualmente se formando em Análise e Desenvolvimento de
                      Sistemas e recém formado Desenvolvedor Fullstack Web Java Jr.
                    </p>
                    <a href="https://www.linkedin.com/" target="_blank" class="p-3">
                      <i class="fa fa-linkedin-in">
                      </i>

                    </a>


                  </div>

                  <div class="col-lg-3 pl-3 d-flex">

                    <img style="filter: grayscale();"
                      src="https://i.imgur.com/iq0Cqkv.png"
                      alt="" class="img-responsive">

                  </div>


                  <div class="col-lg-3">

                    <img style="filter: grayscale();"
                      src="https://i.imgur.com/MU48N2L.png"
                      alt="" class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <h4 class="nome">André Gustavo</h4>
                    <p>Esse é o André, 20 anos, morador de São José dos Campos, SP. Desenvolvedor Full-Stack Java Jr pela Generation.</p>
                    <p><strong>email@</strong></p>

                  </div>

                </div>
              </div>

              <div class="carousel-item">
                <div class="row mr-auto text-center">

                  <div class="col-lg-3">

                    <h4 class="nome">Carol Santos</h4>
                    <p>Essa é a Carolina, 29 anos, moradora de Osasco, São Paulo. Tecnóloga em Gestão Financeira pela Fatec de Osasco e Desenvolvedora Full-Stack Java Jr pela Generation.</p>
                    <p><strong>email@</strong></p>

                  </div>

                  <div class="col-lg-3">

                    <img width="230px" height="256px"  style="filter: grayscale();"
                      src="https://i.imgur.com/pwqralL.png"
                      alt="" class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <img width="230px" height="256px" style="filter: grayscale();"
                      src="https://i.imgur.com/jqqFNcG.png"
                      alt="" class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <h4 class="nome">Daiane Silva</h4>
                    <p>Essa é a Daiane, 28 anos, moradora de São Paulo. Mestre em biologia Molecular pela universidade de São Paulo e Desenvolvedora Full-Stack Java Jr pela Generation Brasil.</p>
                    <p><strong>email@</strong></p>

                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row mr-auto text-center">

                  <div class="col-lg-3">

                    <h4 class="nome">Jonathan Henrique</h4>
                    <p>Esse é o Jonathan, 25 anos, morador de Diadema, São Paulo. Formado Téc. em Audiovisual. Formando em Eng. de Software, Téc. em desenvolvimento de Sistemas e hoje Desenvolvedor Full-Stack Java Jr pela Generation.</p>
                    <p><strong>email@</strong></p>

                  </div>

                  <div class="col-lg-3">

                    <img width="230px" height="256px" style="filter: grayscale();"
                      src="https://i.imgur.com/oTAGKqH.png"
                      alt="" class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <img  width="230px" height="256px" style="filter: grayscale();"
                      src="https://i.imgur.com/8CTkkzA.png"
                      alt="" class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <h4 class="nome">Talita Alice</h4>
                    <p>Essa é a Talita, 27 anos, moradora da zona sul de São Paulo. Formada em Téc. de Enfermagem, e hoje Desenvolvedora Full-Stack Java Jr pela Generation Brasil.</p>
                    <p><strong>email@</strong></p>

                  </div>

                </div>
              </div>


            </div>
            <!-- <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only ">Next</span>
              </button> -->
          </div>

        </div>

      </div>

    </div>

  </div>
</div>