<div id="b-bg">
    <div id="bg-color">
        <div class="container-fluid">

            <div class="row d-flex align-items-end">
                <div class="col-md-2">

                    <img src="https://i.imgur.com/t4HkTCh.png" width="150px" height="150px" alt="Logo da empresa">

                </div>
            </div>

            <div class="container-fluid">

                <div class="row d-flex align-items-center">
                    <div class="col-md-12">

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-4">

                                <h1 class="text-center  text-white fonte">Cadastrar</h1>

                                <hr>

                                <div class="card mt-3 mb-5">
                                    <div class="card-body">

                                        <h2 class="text-center text-black-50 fonte m-5 mb-2">Faça seu cadastro:</h2>

                                        <div class="form-group text-black-50 fonte">
                                            <label for="Nome">Nome</label>
                                            <input [(ngModel)]="usuario.nome" class="form-control" type="text"
                                                name="Nome" id="Nome" placeholder="Seu Nome">
                                        </div>

                                        <div class="form-group text-black-50 fonte">
                                            <label for="email">E-mail</label>
                                            <input [(ngModel)]="usuario.usuario" class="form-control" type="text"
                                                name="email" id="email" placeholder="email">
                                        </div>



                                        <div class="form-group text-black-50 fonte">
                                            <label for="senha">Senha</label>
                                            <input (input)="confirmSenha($event)" class="form-control" type="password"
                                                name="senha" id="senha" placeholder="Sua senha">
                                            <small>Miní­mo 8 caracteres</small>
                                        </div>

                                        <div class="form-group text-black-50 fonte">
                                            <label for="confirmSenha">Confirmar senha</label>
                                            <input [(ngModel)]="usuario.senha" class="form-control" type="password"
                                                name="confirmSenha" id="confirmSenha" placeholder="Confirmar senha">
                                        </div>

                                        <div class="form-group text-black-50 fonte">
                                            <label for="foto">Insira o link da foto</label>
                                            <input [(ngModel)]="usuario.foto" class="form-control" type="text"
                                                name="foto" id="foto" placeholder="foto">
                                        </div>

                                        <div class="form-group text-black-50 fonte">

                                            <label for="tipo">Tipo de usuário</label>
                                            <select [(ngModel)]="usuario.tipo" class="form-control" name="tipo"
                                                id="tipo">
                                                <option>Selecione um tipo de usuário</option>
                                                <option value="adm">Administrador</option>
                                                <option value="comprador">Comprador</option>
                                                <option value="ong">Ong</option>

                                            </select>


                                            <div class="d-flex justify-content-center">

                                                <button type="button" class="btn text-black-50 fonte" id="bt-color"
                                                    (click)="cadastrar()">Cadastrar</button>
                                            </div>



                                        </div>



                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>